.navigation
    .repeatBTN
        position: fixed
        top: 1rem
        right: 1rem
        display: none

/* Mobile */
@media screen and (max-device-width: 1100px)
    .navigation
        .repeatBTN
            display: flex !important