// Dimensions
$mapWidth: 4200px
$shoreHeight: 200px
$lakeHeight: 3000px
$playerWidth: 50px
// Colors
$shoreColor: #F5eFe1
$ropeColor: #ddccb6

body
    background: #F5eFe1
    font-family: 'Audiowide', cursive
    &::-webkit-scrollbar
        display: none
.game
    position: relative
    overflow: scroll
    &::-webkit-scrollbar
        display: none
    .shore
        position: relative
        background-image: linear-gradient(#fdf7bcEE 12.5%, #F5eFe1EE), radial-gradient(#eeff01, #6d534b)
        background-size: 100% 100%, 3px 3px
        background-repeat: no-repeat, repeat
        height: $shoreHeight
        width: 100%
        .playerPosition
            position: absolute
            width: $playerWidth
            height: $shoreHeight
            transition: .2s all ease
            .player
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                width: $playerWidth
                height: $playerWidth
                border-radius: 100%
                border-left: none
                border-right: none
                margin: auto
        .fishingRod
            position: absolute
            z-index: 10
            transition: .05s all ease
            border-radius: 10px
            &::before
                position: absolute
                content: ''
                height: 20px
                width: 8px
                background: linear-gradient(to right, $ropeColor, #777, $ropeColor, #777, $ropeColor, #777)
                top: 15px
                right: 100%
                border-radius: 5px
                border-right: 4px solid #222
                border-left: 5px solid #222
            &::after
                position: absolute
                content: ''
                width: 100%
                height: 30px
                top: 10px
                left: 0
                background: #222
    .lake
        position: relative
        background-image: linear-gradient(to right, #9002, transparent, #0F02), linear-gradient(transparent, #8DF 10px, #47A, #258, #114, #002)
        background-repeat: no-repeat
        height: $lakeHeight
        width: 100%
        overflow: hidden
        &::before, &::after
            content: ''
            background-image: radial-gradient(#22224410, #44446605, transparent 66%)
            background-size: 60px 30px
            background-repeat: repeat
            position: absolute
            top: 0
            right: 0
            width: 200%
            height: 200%
            pointer-events: none
        &::before
            animation: loop-scroll 240s linear infinite reverse
            background-image: radial-gradient(#AAAACC10, #8888AA05, transparent 66%)
        &::after
            animation: loop-scroll 240s linear infinite

    // Baits
    .bait
            position: absolute
            border-radius: 100% 5px 25% 5px
            font-size: 2rem
            transition: all ease .2s
            z-index: 9
            svg
                position: absolute
                left: calc(50% - 1rem)
                fill: #333
                filter: drop-shadow(2px 10px 2px #2223)
                animation: hang 2s linear infinite
                &.immersed
                    filter: none
                    animation: none
                    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%)
    .line
        position: absolute
        overflow: visible  
        box-shadow: 0px -0px 10000px transparent
        top: 0
        left: 0
        pointer-events: none
        z-index: 9
        transition: all ease .2s
        line, path
            stroke: #FFF
            stroke-width: 2
            fill: transparent
            transition: all ease .2s
        
        &.danger
            animation: blink .5s ease-in infinite
        &.highDanger
            animation: blink .3s ease-in infinite

.mushroom
    position: absolute
    width: 10px
    height: 25px
    background: linear-gradient(to right, #cfcfba, #FFF, #cfcfba)
    animation: grow 55s ease-out
    &::after
        content: ''
        position: absolute
        height: 30px
        width: 30px
        left: -10px
        top: -10px
        border-radius: 50%
        background: #804e3f
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%)
    &:hover
        filter: brightness(1.2)
        cursor: pointer


@keyframes loop-scroll
    from
        transform: translate(0, 0)
    to
        transform: translate(50%, -50%)
@keyframes hang
    from
        transform: rotate(0)
    25%
        transform: rotate(5deg)
    50%
        transform: rotate(0)
    75%
        transform: rotate(-5deg)
    to
        transform: rotate(0)
@keyframes grow
    from
        transform: scale(0)
    to
        transform: scale(1)
@keyframes blink
    from
        opacity: 1
        filter: brightness(1.5)
    to
        opacity: .25
        filter: brightness(.5)