.status
    padding: .5rem
    h3
        margin-top: 0
    .data
        color: #FFF
        *
            font-style: .75rem
    & > section
        padding: .25rem
    .general
        box-shadow: 0 0 5px 1px var(--black)
        ul.gameStats
            padding: 0
            li
                list-style: none