.fishrodDefault
    background-image: linear-gradient(to right, #222C, transparent, #222C), linear-gradient(#645534, #787e36)
    background-repeat: no-repeat, repeat
    background-size: 100% 100%, 100% 5px
    border-radius: 3px